html {
    font-family: Tahoma, Georgia, Verdana, sans-serif;
    background: url(../images/electronic-payment.png) top center no-repeat;
    background-size: cover;
    /* background-color: rgba(252, 247, 248, 0.8); */
}
nav{
    justify-content: space-around;
    text-align: right;
}

h2{
    text-align: center;
}
h3{
    display: block;
    /* background-color: rgba(192, 198, 208, 0.8); */
    /* background-image: linear-gradient(to right, rgba(192, 198, 208, 0.8), rgba(252, 247, 248, 0.8)); */
    height: 35px;
    text-align: center;
    align-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    border: 2px solid rgba(192, 198, 208, 0.8);
    margin-left: 300px;
}

label{
    width: 150px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}

input{
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 25px;
    border-radius: 4rem;
    border-color: #c0c6d0;
    margin: 5px;
}

.mdate{
    width: 100px;
}

.confirmation{
    margin-left: 100px;
}

button{
    background-color: rgba(255, 51, 0, 0.7);
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

 footer{
    display: block; 
    text-align: center;
    width: 50%;
    height: 40px;
    justify-content: center;
    margin-left: 250px;
}



/**********************************************
*
2. Header & Nav Style
*
**********************************************/


/* Navigation bar */

.menu-bar a.active { /*Add a color to the active/current link */
    background-color: none;
    color:#17255A;
    /* color:#FCF7F8; */
}

li a {
/* color: #FCF7F8; */
color:#17255A;
text-decoration: none;
display: block;
padding:5px;
}

  
ul {
    list-style-type: none;
   
    overflow: hidden;
    background-color: transparent;
    font-family: 'Montserrat';
    margin: 0;
    
}

.menu li a:hover {
    background-color:#C0C6D0;
    color:#17255A;
    border-radius: 4em;
}
  
.menu li{
    float: right;
    height: 20px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 12px;
    line-height: 27px;
    height: 20px;
    font-family: Tahoma, Georgia, Verdana, sans-serif;
}
    
nav .logo-image img{ 
 float: left;
 height:30px;
 width: 200px;
 text-align: center;
 margin: 27px 200px 0 100px;
 background-color: transparent;

}
  

.header-box{margin-left: 40px;}
.header-box h3{
    position: relative;
    top: 30px;
}
  
.header-box h2{ margin-top: 35px;}

button p {
  color: #f2f2f2;
  font-size: 12px;
}

button[class] {
  float: right;
  max-width: 100px;
  outline: none;
  transition: all .25s;
}
