* {
    font-family: Tahoma, Georgia, Verdana, sans-serif;
    /* background-color: rgba(252, 247, 248, 0.8); */
}
nav{
    justify-content: space-around;
    text-align: right;
}

h2{
    text-align: center;
}
h3{
    display: block;
    /* background-color: rgba(192, 198, 208, 0.8); */
    background-image: linear-gradient(to right, rgba(192, 198, 208, 0.8), rgba(0, 230, 230, 0.8));
    height: 35px;
    text-align: left;
    align-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    clear: both;
}

label{
    width: 150px;
    display: inline-block;
    text-align: right;
}

input{
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 25px;
    border-radius: 4rem;
    border-color: #c0c6d0;
    margin: 5px;
}

.mdate{
    width: 100px;
}

.confirmation{
    margin-left: 100px;
}

button{
    background-color: rgba(255, 51, 0, 0.8);
    width: 80px;
    height: 40px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 120px;
    font-weight: bold;
 }

/********************************** 
* Styling for the Subscription box
* moving to another page as same is causing issues with the other page
***********************************/

/* .flexlogin{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form {
    border: 3px solid #f1f1f1;
} */